[defaults]
inventory = inventory.generated.yml
collections_path = ../.lab/ansible/collections
roles_path = roles
local_tmp = ../.lab/ansible/tmp
remote_tmp = /tmp/.ansible-${USER}
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
timeout = 30
forks = 8
stdout_callback = default

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=.lab/ssh/known_hosts -o StrictHostKeyChecking=yes
